<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue Basics</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="styles.css" />
    <script src="https://unpkg.com/vue@next" defer></script>
    <script src="app.js" defer></script>
  </head>
  <body>
    <header>
      <h1>Monster Slayer</h1>
    </header>
    <div id="game">
      <section id="monster" class="container">
        <h2>Monster Health</h2>
        <div class="healthbar">
          <div class="healthbar__value" :style="{'width':monsterHealthCalculate}"></div>
        </div>
      </section>
      <section id="player" class="container">
        <h2>Your Health</h2>
        <div class="healthbar" >
          <div class="healthbar__value" :style="{'width':playerHealthCalculate}"></div>
        </div>
      </section>
      <section class="container" v-if="winner">
        <h1 v-if="winner">Game Over</h1>
        <h1 v-if="winner === 'monster'">You Lost</h1>
        <h1 v-else-if="winner === 'player'">You Won</h1>
        <h1 v-else>Drow</h1>
      </section>
      <section id="controls">
        <button @click="attackMonster">ATTACK</button>
        <button @click="specialAttack" :disabled="specialAttackCounter%4 !== 0">SPECIAL ATTACK</button>
        <button @click="heal" :disabled="healCounter%4 !==0">HEAL</button>
        <button @click="newGame">Start New Game</button>
        <button @ckick="surrender">SURRENDER</button>
      </section>
      <section id="log" class="container">
        <h2>Battle Log</h2>
        <ul></ul>
      </section>
    </div>
  </body>
</html>
